.logo-wrapper {
  height: 80px;
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 28px;
  height: 60px;
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.logoImgNav {
  height: 60px;
  width: auto;
  object-fit: contain;
  display: block;
}
