.lavori-image img {
  max-width: 420px;
  height: auto;
  object-fit: contain;
}

@media (min-width: 992px) {
  .lavori-image {
    margin-left: 3rem;
  }
}

.lavori-image {
  margin-left: 0; /* default = nessun margine */
}
