.lavori-image img {
  max-width: 420px;
  max-height: auto;
  object-fit: contain;
}

@media (min-width: 992px) {
  .lavori-image {
    margin-left: 3rem;
  }
}

@media (max-width: 991px) {
  .ciao {
    padding-left: 0;

    padding-right: 0;
    overflow-x: hidden;
  }
  .ciao img {
    width: auto;
    max-height: 250px;
    padding: 10px;
    margin: 0;
  }

  .ciao .mt-4 {
    padding: 10px;
  }

  .salve {
    padding: 24px;
  }
}

.lavori-image {
  margin-left: 0;
}
