.lavori-image img {
  max-width: 400px;
  max-height: auto;
  object-fit: contain;
}

@media (min-width: 992px) {
  .lavori-image {
    margin-left: 3rem;
  }
}

@media (max-width: 991px) {
  .ciao {
    overflow-x: hidden;
  }
  .ciao img {
    width: auto;
    max-height: 250px;
  }

  .ciao .mt-4 {
    padding: 0;
    margin-right: 20px;
    margin-top: 15px !important;
  }

  .ciaosmall {
    margin-bottom: 3rem !important;
  }

  .salve {
    padding-left: 0;
    margin-bottom: 3rem;
  }

  .salve p {
    margin-right: 3rem;
  }
  .lavori-image {
    margin: 0 !important;
    padding: 0 !important;
  }

  .lavori-image img {
    max-width: 250px;
    max-height: auto;
    object-fit: contain;
  }

  .cranberry {
    padding-left: 2rem !important;
  }

  .banane {
    padding-left: 20px !important;
  }

  .lavori-image > div {
    padding-left: 0 !important;
  }
}

.lavori-image {
  margin-left: 0;
}
