.footer-container {
  display: flex;
  flex-wrap: wrap;
  text-align: left; /* CAMBIATO: tutto parte left */
}

.footer-item {
  padding: 10px;
  flex: 1 1 100%;
}

/* Media Query per desktop */
@media (min-width: 992px) {
  .footer-container {
    text-align: initial; /* Rimuove il text-align globale */
  }

  .instagram {
    flex: 1 1 25%;
    text-align: left;
  }

  .email {
    flex: 2 1 50%;
    text-align: center;
  }

  .facebook {
    flex: 1 1 25%;
    text-align: right;
  }
}
